:root {
  --blue-glow: conic-gradient(
                  from 90deg at 50% 50%,
                  #00aaff 0deg,
                  #0099dd 90deg,
                  #3366ff 180deg,
                  #66ccff 270deg,
                  transparent 360deg
  );

  --lightblue-glow: conic-gradient(
                  from 180deg at 50% 50%,
                  #b3e5fc 0deg,
                  #81d4fa 90deg,
                  #4fc3f7 180deg,
                  #29b6f6 270deg,
                  transparent 360deg
  );
}

body {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  max-height: 100vh;
  margin: 0;
}

body::before,
body::after {
  content: '';
  position: absolute;
  z-index: -1;
  opacity: 0.8;
  border-radius: 50%;
  filter: blur(90px);
  max-height: 100vh;
}

body::before {
  background: var(--blue-glow);
  width: 50vw;
  height: 50vw;
  top: calc(50vh - 25vw);
  left: calc(60vw);
  animation: animateBefore 8s ease-in-out infinite;
}

body::after {
  background: var(--lightblue-glow);
  width: 500px;
  height: 700px;
  top: calc(50vh - 25vw);
  left: calc(20vw);
  animation: animateAfter 8s ease-in-out infinite;
}

@keyframes animateBefore {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(150px) scale(0.9);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes animateAfter {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-150px) scale(1.1);
  }
  100% {
    transform: translateX(0);
  }
}
